<!-- footer page -->
<footer class="text-center mt-auto">
	<div class="card-header fw-bold text-white">
		© N Game Store
	</div>
	<div class="card-body text-white">
		<h5 class="card-title">Online Store Management Dashboard</h5>
		<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	</div>
</footer>