<nav class="navbar">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="public/images/icons/navicon.png" alt="Logo" width="33"  class=" me-1">
			<img src="public/images/icons/letraslogo.png" alt="" width="100" class="">
		</a>
	</div>
</nav>