<!-- Include the header layout with specific stylesheet -->
<%- include('components/headers.ejs', { css:'public/css/login2.css' }) %>

<!-- Main content of the page -->
<main class="container-fluid vh-100 d-flex justify-content-center align-items-center">
  <div class="row h-75 w-100 d-flex justify-content-center">
    <!-- Left column (only visible on larger screens) -->
    <div class="d-none d-md-block col-md-6 col-lg-6 shadow-lg d-flex justify-content-center align-items-center">
    </div>
    <!-- Right column (login form) -->
    <div class="col-md-5 col-lg-4 px-md-4 d-flex justify-content-center align-items-center" >
      <!-- Adding the form to validate client credentials -->
      <%- include('components/login/cardForm.ejs') %>
    </div>
  </div>
</main>

<!-- Include final scripts and close </body> and </html> tags -->
<%- include('components/scripts.ejs') %>