<button class="col-10 col-lg-5 btn px-1 py-1 py-lg-2">
    <div class="row">
      <div class="col-3">
        <img src="<%= imgSrc %>" alt="<%= imgAlt %>">
      </div>
      <div class="col-8 d-flex align-items-center">
        <p class="m-0 text-white"><%= buttonText %></p>
      </div>
    </div>
</button>